spring-support/src/main/resources/META-INF/cronner.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns="http://cronner.jfaster.org/schema/cronner"
	xmlns:xsd="http://www.w3.org/2001/XMLSchema" 
	targetNamespace="http://cronner.jfaster.org/schema/cronner"
    elementFormDefault="qualified"
    attributeFormDefault="unqualified">

 	<xsd:import namespace="http://www.w3.org/XML/1998/namespace" />
    <xsd:import namespace="http://www.springframework.org/schema/tool"/>
    <xsd:import namespace="http://www.springframework.org/schema/beans"/>

    <xsd:element name="zookeeper">
        <xsd:complexType>
            <xsd:attribute name="server-lists" type="xsd:string" use="required" />
            <xsd:attribute name="namespace" type="xsd:string" use="required" />
            <xsd:attribute name="base-sleep-time-milliseconds" type="xsd:string" />
            <xsd:attribute name="max-sleep-time-milliseconds" type="xsd:string" />
            <xsd:attribute name="max-retries" type="xsd:string" />
            <xsd:attribute name="session-timeout-milliseconds" type="xsd:string" />
            <xsd:attribute name="connection-timeout-milliseconds" type="xsd:string" />
            <xsd:attribute name="digest" type="xsd:string" />
        </xsd:complexType>
    </xsd:element>

    <xsd:element name="listener">
        <xsd:complexType>
            <xsd:attribute name="class" type="xsd:string" use="required" />
        </xsd:complexType>
    </xsd:element>

    <xsd:element name="job">
        <xsd:complexType>
            <xsd:all>
                <xsd:element ref="listener" minOccurs="0" maxOccurs="1" />
            </xsd:all>
            <xsd:attribute name="name" type="xsd:string" use="required" />
            <xsd:attribute name="class" type="xsd:string" />
            <xsd:attribute name="job-ref" type="xsd:string" />
            <xsd:attribute name="command-line" type="xsd:string" />
        </xsd:complexType>
    </xsd:element>

    <xsd:element name="job-scan">
        <xsd:complexType>
            <xsd:attribute name="package" type="xsd:string" use="required" />
        </xsd:complexType>
    </xsd:element>
	
</xsd:schema>
